<div class="p-5">
  <form class="example-form flex">
    <mat-form-field class="basis-64">
      <mat-label>Title</mat-label>
      <input matInput [formControl]="taskControl" />
    </mat-form-field>
    <button mat-fab extended (click)="addTask()">
      <mat-icon>add</mat-icon>
      Add
    </button>
  </form>

  <mat-list>
    <mat-list-item *ngFor="let task of tasks; let i = index">
      <span [class.completed]="task.completed" (click)="toggleTask(i)">{{
        task.name
      }}</span>
      <button mat-icon-button color="warn" (click)="deleteTask(i)">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>

<router-outlet />
